body{
    background-color: #363a56;
    font-family:"Arial Black";
}
main{
    text-align: center;
    margin-top: 22%;
}

h1 {
 color: #ACE13F;
    font-size: 30px;
}
h2{
    color: #ACE13F;
    text-align:center;
}
h3{
    color: #ACE13F;
    text-align: center;
}

span{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-left: 25%;
    margin-right: 25%;

}
#lol{
    text-align: center;
    margin-top: 20px;
}
#resetButton{
    background-color:#ACE13F ;
    width: 150px;
    height: 50px;
    border: #ACE13F;
    margin-left: 6px;
}
.spillMotB{
    background-color:#ACE13F ;
    width: 150px;
    height: 50px;
    border: #ACE13F;
}
.spillMotB:hover{
    background: #363A56 ;
}

.flex-container{
display: flex;
font-size: 40px;
}

.flex-column{
flex-direction:column;
}

.board-container {
    height: 100%;
    width: 100%;
}
.board{
    width: 468px;
    margin-top: 20px;
}
.flex-wrap{
    flex-wrap: wrap;
}
.flex-center{
    justify-content: center;
    align-items: center;
}
.square{
    height: 150px;
    width: 150px;
    border: 3px solid #ACE13F;
}

.square:hover{
    background-color: #ACE13F;
}
h1{
    text-align: center;
}