#bigguy{
    grid-column: span 4;
    grid-row: span 1;
    background-color: #fef8f8;
    text-align: center;
    margin-bottom: 0;
}

h1{
    border-top: solid darkred 5px;
    border-bottom: solid darkred 5px;
    margin-bottom: 0;
    padding: 20px;
    text-align: center;
    background-color: #fef8f8;


}

#fixtures{
    display: grid;
    grid-template-columns:1fr 2fr;
    margin: 0;
    padding: 10px;
    text-align: center;
    background-color: #fef8f8;;

}
#lille-til-venstre, #store-til-høyre{
    float: left;
}
#lille-til-venstre{
    border-top: solid 5px darkred;
    border-left: solid 5px darkred;
    border-bottom: solid 5px darkred;
}
#store-til-høyre{
    border: solid 5px darkred;

}
h2{
    border-bottom: solid 5px darkred;
}
#mangeboxer{
border-bottom: solid 5px darkred;
}